body,html{
  height: 100%;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(red, yellow);
}
.board{
  width:250px;
  height:250px;
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid black;
  background-color: aliceblue;
}
tr,td{
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid rgb(174, 21, 21);
  text-align: center;
  color: #0a0501;
  height:42px;
  width:42px;
}
td{
  cursor: pointer;
}
button{
  width:125px;
  height:60px;
  font-size: 21px;
  margin: 9px;
  border-radius: 23px;
}
h1{
  background-image: linear-gradient(rgb(150, 13, 13), rgb(33, 25, 142));
}
